#
# Available Providers: Garage, AWS, Linode, Azure
#
LOG_LEVEL="Information"
PROVIDER="Garage"
PIHOLE_URL="https://pihole.local.com"
PIHOLE_PASSWORD="SuperPiHolePassword" #pragma: allowlist secret

# Run backup every 2 minutes, change as needed. Format is standard cron format.
BACKUP_CRON="*/2 * * * *"

#
# Provide Access Key and Secret Key for Garage, AWS or Linode
#

S3_ACCESS_KEY="AccessKey" #pragma: allowlist secret
S3_SECRET_KEY="SecretKey" #pragma: allowlist secret

#
# Endpoint leave empty for AWS.
# For Garage use Garage URL
# For Linode use format https://eu-central-1.linodeobjects.com
#

S3_ENDPOINT="http://GarageURL:3900"
S3_BUCKET="BucketName"

#
# Provide Storage Account and Container for Azure if Azure is selected as provider.
#

#AZURE_TENANT_ID=""
#AZURE_CLIENT_ID=""
#AZURE_CLIENT_SECRET="" #pragma: allowlist secret
#AZURE_SUBSCRIPTION_ID=""
#AZURE_STORAGE_ACCOUNT=""
#AZURE_CONTAINER=""
